.DS_Store
node_modules

# Hot reload
public/*.js
public/*.json
public/*.LICENSE.txt

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
